name: CI

on:
  workflow_call:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os:
        - ubuntu-20.04
        - windows-2022
        - macos-11
        python:
        - "3.8"
        - "3.9"
        - "3.10"
      fail-fast: false
    name: Run setup on ${{ matrix.os }} with python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3

    - name: Upgrade bash
      if: matrix.os == 'macos-11'
      run: brew install bash

    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python }}

    - name: Run setup.sh
      if: matrix.os != 'windows-2022'
      run: ./setup.sh -i -u

    - name: Run setup.bat
      if: matrix.os == 'windows-2022'
      run: |
        "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        .\setup.bat

    - name: Test angr import
      run: python -c "import angr; print('angr imports!')"
