name: Test extremely-simple-setup.sh

on:
  workflow_call:
  push:
    path:
    - extremely-simple-setup.sh

jobs:
  build:
    strategy:
      matrix:
        os:
        - ubuntu-20.04
        - ubuntu-22.04
        - macos-12
        python:
        - "3.8"
        - "3.9"
        - "3.10"
      fail-fast: false
    name: Run extremely-simple-setup.sh on ${{ matrix.os }} with python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python }}

    - name: Run setup.sh
      run: ./extremely-simple-setup.sh

    - name: Test angr import
      run: python -c "import angr; print('angr imports!')"

    - name: Test angrmanagement import
      run: python -c "import angrmanagement; print('angr management imports!')"
